h1, h3, p, input, button, li, ul {
    font-family: 'Poppins', serif;
}

h1, h3 {
    text-align: center;
}

h1 {
    background-color: rgb(195, 204, 247);   
    width: 120px;
    margin: auto;
    margin-top: 15px;
    border: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: white;
    font-size: 34px;
}

h3 {
    font-size: 22px;
}

input {
    width: 130px;
    height: 25px;
    margin: 0px 2px;
    border-radius: 5px;
    border: solid;
    border-color: rgb(108, 108, 243);
    border-width: 2px;
    font-size: 16px;
    text-align: left;
}

button {
    font-size: 20px;
    width: 40px;
    height: auto;
    text-align: center;
    padding: 2.5px;
    border-radius: 5px;
    border: solid;
    border-color: rgb(108, 108, 243);
    border-width: 2px;
    margin: 0px 5px;
    cursor: pointer;
    transition-duration: 0.4s;
    text-decoration: none;
    position: relative;
}

button:after {
    opacity: 0;
    transition: all 0.8s;
  }

button:hover {
    background-color: rgb(162, 176, 238);
    color: white;
    border-color: white;
  }

p {
    text-align: center;
    font-size: 17px;
    padding: 2px;
}

#main {
    background-color: rgb(162, 176, 238);
    width: 380px;
    height: auto;
    margin: auto;
    border: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: rgb(108, 108, 243);
    padding: 10px;
}


#inputs {
    text-align: center;
    margin-bottom: 20px;
}

#num1, #num2 { 
    margin-bottom: 2px;
    padding: 8px;
}


#buttons {
    text-align: center;
    margin-bottom: 10px;
}

#instructions {
    width: 50%; 
    margin: 0 auto; 
}

#instructions p {
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
}

#instructions ul, li {
    font-size: 17px;
}